tags
applications/content_server/content/*
!applications/content_server/content/.gitignore
applications/content_server/content_partners/*
!applications/content_server/content_partners/.gitignore
applications/content_server/datasets/*
!applications/content_server/datasets/.gitignore
applications/content_server/gni_tcs_files/eol_names.xml
applications/content_server/resources/*
!applications/content_server/resources/.gitignore
applications/content_server/tmp/*
!applications/content_server/tmp/.gitignore
applications/GNI_connector/sample.xsl
applications/GNI_connector/XML/*
!applications/GNI_connector/XML/.gitignore
applications/google/output.txt
applications/google_stats/2008.htm
applications/google_stats/2009.htm
applications/google_stats/analytics_api_local.php
applications/google_stats/data
applications/google_stats/data
applications/google_stats/generate_tables.php
applications/google_stats/js_api
applications/google_stats/old
applications/google_stats/old2
applications/google_stats/process - Copy.php
applications/google_stats/process v1.php
applications/google_stats/process_others.php
applications/google_stats/start2 working.php
applications/google_stats/temp.txt
applications/hierarchy_import/downloads/*
!applications/hierarchy_import/downloads/.gitignore
applications/hierarchy_import/itis/out.xml
applications/names_lookup/result v1.php
applications/names_lookup/temp/*
!applications/names_lookup/temp/.gitignore
applications/names_stat/temp/*
!applications/names_stat/temp/.gitignore
applications/RSS_resource_monitor/backup
applications/specialist_project_converter/temp/*.xls
applications/specialist_project_converter/temp/*.xlsx
applications/specialist_project_converter/xml/*.xml
applications/species_stat/saved_stats.csv
applications/species_stat/temp/*
!applications/species_stat/temp/.gitignore
applications/taxon_page_metrics/text_files/*
!applications/taxon_page_metrics/text_files/.gitignore
applications/taxon_page_metrics/*.txt
applications/urls_lookup/temp/*
!applications/urls_lookup/temp/.gitignore
applications/xls2EOL/eol_video.xls
applications/xls2EOL/temp/*
!applications/xls2EOL/temp/.gitignore
applications/xls2EOL/test.php
applications/xls2EOL/WhyReef-EOL(2).xls
applications/xls2EOL/WhyReef-EOL.xls
applications/xls2EOL/WhyReef-EOL.xml
applications/xls2EOL/xml/*.xml

applications/xls2dwca_jenkins/temp/*
applications/dwc_validator_jenkins/temp/*

config/constants.php
config/database.yml
config/environments/*
!config/environments/.gitignore
!config/environments/development_sample.php
!config/environments/test_sample.php
!config/environments/production_sample.php
config/old
config/start.php
config/google-privatekey.p12
lib/NewDenormalizedTables.php
log/*
!log/.gitignore
rake_tasks/2009 12 29
rake_tasks/denormalize_tables_saved.php
rake_tasks/eli backup
rake_tasks/harvest_requested eli.php
rake_tasks/New Folder
rake_tasks/run.bat
rake_tasks/run.php
temp/*
!temp/.gitignore
tmp/*
!tmp/.gitignore
!tmp/cache
tmp/cache/*
update_resources/connectors/26 v1.php
update_resources/connectors/26pre.php
update_resources/connectors/81 v1.php
update_resources/connectors/bad_id.txt
update_resources/connectors/CDC - Copy.php
update_resources/connectors/CDC.php
update_resources/connectors/CDC2.php
update_resources/connectors/files/*
!update_resources/connectors/files/Avibase
update_resources/connectors/files/Avibase/cache/*.xml
!update_resources/connectors/files/IUCN
update_resources/connectors/files/IUCN/cache/*.html
update_resources/connectors/readmeli.txt
update_resources/connectors/run.bat
update_resources/connectors/set.php
update_resources/connectors/XML_check.php
vendor/eol_content_schema_v2/extension_cache/*
!vendor/eol_content_schema_v2/extension_cache/.gitignore
vendor/google_api/config.php
vendor/geoPHP/
applications/genHigherClass/sample/
applications/genHigherClass_jenkins/temp

.DS_Store

rake_tasks/e

applications/partner_requests/images_per_resource.php
applications/partner_requests/moth_photographers/MPG taxon index.xls
applications/partner_requests/moth_photographers/Moth Photographers Group.xls
applications/partner_requests/moth_photographers/index.php
applications/partner_requests/moth_photographers/moth.txt

null

update_resources/connectors/dwca_parsing.php

applications/partner_stat/nathan.php

applications/partner_requests/cp_comments.php

applications/partner_requests/curator_stats.php

applications/partner_requests/gbif_ncbi_report.php

applications/partner_requests/object_cache_url.php
applications/partner_requests/old/dump_eol_names.php
applications/partner_requests/partner_report.php
applications/partner_requests/partner_report.php.htm
applications/partner_requests/partner_report.txt
applications/partner_requests/photosynth/erja_family.html
applications/partner_requests/photosynth/photosynth_form.html
applications/partner_requests/photosynth/photosynth_resource.php
applications/partner_requests/query.php
applications/partner_requests/sorted_taxa_with_content.TXT

applications/partner_requests/sorted_taxa_with_content.zip
applications/partner_requests/taxa_count_per_do_lang.txt
applications/partner_requests/taxa_with_content.php
applications/partner_requests/taxa_with_content.txt
applications/partner_requests/taxa_with_content.zip
applications/partner_requests/taxa_with_content_4_8.txt
applications/partner_requests/taxa_with_content_4_9.txt
applications/partner_requests/tc_ids_per_language.php
applications/partner_requests/user_activity_report.txt
applications/partner_requests/user_activity_tracking.php
applications/partner_requests/wiki_curated_stats v1.php
applications/partner_requests/wiki_curated_stats.php
applications/partner_requests/wiki_curated_stats_nathan.php

lib/connectors/NatureServeAPI_eli.php

update_resources/connectors/263_eli.php

final_processed_HotlistAug2011_small.txt

final_processed_redhotlist_small.txt

applications/taxon_page_metrics/hotlist1.php

applications/taxon_page_metrics/hotlist2.php

applications/taxon_page_metrics/hotlist_name_lookup.php

applications/taxon_page_metrics/Archive2.zip
applications/taxon_page_metrics/final_HotlistAug2011_a.txt
applications/taxon_page_metrics/final_HotlistAug2011_b.txt
applications/taxon_page_metrics/final_redhotlist.txt
applications/taxon_page_metrics/raw_HotlistAug2011_a.txt
applications/taxon_page_metrics/raw_HotlistAug2011_b.txt
applications/taxon_page_metrics/raw_redhotlist.txt
applications/taxon_page_metrics/redhotlist.csv
applications/taxon_page_metrics/spg_hotlist.txt
applications/taxon_page_metrics/spg_redhotlist.txt

temp.txt

applications/species_stat_marine/readmeli.txt

applications/taxon_page_metrics/generate_taxon_page_metrics_ok.php

lib/TaxonPageMetrics_ok.php

applications/partner_requests/convert_eol_to_dwca.php

applications/partner_requests/paddy_taxa_rank.php

applications/partner_requests/DiscoverLife_EOL_tc_list.php

applications/partner_requests/TaxonConcept_check_if_name_inEOL.php

applications/partner_requests/DiscoverLife_multiple_map_per_taxon.php
vendor/google_client_library/json/sheets.googleapis.com-php-quickstart.json
